
This is a reminder that the monthly patching process for server {{ ansible_nodename }} which provides the service {{ service|upper }} will run tonight. The server may reboot depending on what is patched.
